<h1>Listing tops</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tops.each do |top| %>
      <tr>
        <td><%= link_to 'Show', top %></td>
        <td><%= link_to 'Edit', edit_top_path(top) %></td>
        <td><%= link_to 'Destroy', top, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Top', new_top_path %>
